
{% extends 'global/home.html' %}


    {% block content %}
        {% include 'templates/mercado_templates/partials/head.html'%}
    {% endblock content %}

 

    {% block cont %}
        {% include 'mercado_templates/partials/formulario.html'%}
    {% endblock cont %}


    {% block contfot %}
         {% include 'mercado_templates/partials/footer.html'%}
    {% endblock contfot %}

    {% block contexcl %}
         {% include 'mercado_templates/partials/excluir.html'%}
    {% endblock contexcl %}


