
    <title>{%block title %}Visualizar{%endblock title %}</title>
    <style type= "text/css">
        body {
            background-color: rgb(196, 193, 193);
        }
        div {
            width: 100%;
            
            border: 0px solid gray;
            padding: 10px 20px;
            margin: 0 auto;
            display: flex;
        
            background-color: #eed5b7;
        
        }
    
    
    </style>

    <div>
    <table>
        
        <tr>
            <th>ID</th>
            <th>Produto</th>
            <th>Categoria</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Ação</th>

        </tr>
        {%  for itens in itens %}
        <tr>
        <td>{{itens.id}}</td>
        <td>{{itens.produto}}</td>
        <td>{{itens.categoria}}</td>
        <td>{{itens.quantidade}}</td>
        <td>{{itens.preço}}</td>
        <form method="post">
        <td><a href="{% url 'excluindo' id=itens.id %}" >Excluir</a></td> 
        <td><a href="{% url 'editar' id=itens.id %}" >Editar</a></td>
        </form>
        {% endfor %}
        </tr>
    
    </table>
</div>

