
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado</title>
    <div class="container">
    <table>
        <tr>
            <th>ID</th>
            <th>Produto</th>
            <th>Categoria</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Ação</th>

        </tr>
        {%  for itens in itens %}
        <tr>
        <td>{{itens.id}}</td>
        <td>{{itens.produto}}</td>
        <td>{{itens.categoria}}</td>
        <td>{{itens.quantidade}}</td>
        <td>{{itens.preço}}</td>
        <form method="post">
        <td><a href="{% url 'excluindo' id=itens.id %}" >Excluir</a></td> 
        </form>
        {% endfor %}
        </tr>
        </div>
    </table>
</head>
<body>
    
</body>
</html>