
    <title>{%block title %}Editar{%endblock title %}</title>

    <style type= "text/css">
        body {
            background-color: rgb(196, 193, 193);
        }
        div {
            width: 100%;
            
            border: 0px solid gray;
            padding: 10px 20px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            background-color: #eed5b7;
        
        }
    
    
    </style>
<body>
    <div>
    {{produto.id}} - {{ produto.produto}} - {{produto.categoria}}

    <form action= {% url "editarDois" produto.id  %} method="get"> {% csrf_token %} 
        <label for="fname">Produto:</label>
        <input type="text" id="prodname" name="produto" value="{{produto.produto}}"><br><br>
        <label for="quantity">Quantidade:</label>
        <input type="text" id="quantname" name="quantidade" min="0" max="10" step="1" value={{produto.quantidade}}><br><br>
        <label for="lname">Categorias:</label>
    
<select id="categoria" name="categoria" size="1"><br>
  <option value="{{produto.categoria}}" selectd>{{produto.categoria}}</option>
  <option value="alimentos">Alimentos</option>
  <option value="lacticinio">Lacticínio</option>
  <option value="carnes">Carnes</option>
  <option value="bebidas">Bebidas</option>
  <option value="outros">Outros</option>
  

</select><br><br>

        <label for="pname">Preço:</label>
        <input type="text" id="pname" name="preco" value="{{produto.preço}}"><br><br>
        <input type="submit" value="Enviar"><br><br>
    </form >
    <div/>

</body>
</html>